<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capstone Project</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container text-center mt-5">
        <div class="login-box auth0-box before">
            <img src="https://i.cloudup.com/StzWWrY34s.png" />
            <h3>Auth0 Example</h3>
            <p>Zero friction identity infrastructure, built for developers</p>
            <a class="btn btn-primary btn-lg btn-login btn-block" href="/login">Log In</a>
        </div>

    </div> 
    <div class="container mt-5">

        <div>
            <h2>Sample client credentials</h2>
        
            <table class="table" style="width: 100%;">
                <tr>
                    <th>
                        Role
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Password
                    </th>
                </tr>
                <tr>
                    <td>
                        Casting Assistant
                    </td>
                    <td>
                        assistant@assistant.com
                    </td>
                    <td>
                        8hdZAAMx8E9gzMT
                    </td>
                </tr>
                <tr>
                    <td>
                        Casting Director
                    </td>
                    <td>
                        director@director.com
                    </td>
                    <td>
                        q9fdgGKdYw8JtVP
                    </td>
        
                </tr>
                <tr>
                    <td>
                        Executive Producer
                    </td>
                    <td>
                        admin@admin.com
                    </td>
                    <td>
                        v8RKK3si3zvwQUz
                    </td>
                </tr>
            </table>

            One can use these credentials to get the latest access tokens to the API, if necessary.
        </div>
    </div>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
        </body>
        
        </html>